
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

#main {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
}

footer {
    background: rgb(95, 175, 175);
    height: 15vh;
}

header {
    background-color: white;
    justify-content: space-between;
    width: 100%;
    height: 25vh;
}

header,
footer {
    padding: 0.1em 0.6em;
}

.topbar {
    display: flex;
    background-color: rgb(27, 134, 134);
    align-items: center;
    font-size: 0.9em;
}

.loginbutton {
    display: inline-block;
}

.searchbar {
    display: inline-block;
    margin-left: 75vw;
}

.searchbutton {
    display: inline-block;
    align-items: center;
    /*margin-left: 80vw;*/
}

/* Navigation Bar  Items CSS  */
.navbar {
    display: flex;
    background-color: rgb(95, 175, 175);
    align-items: center;
    padding: 1rem 1.5rem;
    /* width: 100vw; */
}

.hamburger {
    display: none;
}

/* Logo */
.logo {
    display: inline-block;
}

.logo img {
    width: 30vw;
    vertical-align: middle;
    margin-left: 30px;
    height: 70px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-link:hover {
    color: #482ff7;
}

.logo:hover {
    transform: scale(1.1);
    transition: 0.4s ease-in;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
    color: #475569;
}

.cart {
    width: 30vh;
    height: 10vw;
}

/* 2nd row greetings */
.motto {
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    align-items: center;
    font-size: 1.8rem;
}


/* TOP BUTTON CSS TO GO BACK TO TOP OF PAGE */
#goToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: orange; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    width: 65px;
}


/* GALLERY OFSHOPS */
/* POP UP SHOPS*/

.rowgallery {
    margin-left: 80px;
    padding-left: 20px;
}

.gallery:hover {
    background-color: white;
    padding: 0;
    transform: scale(1.1);
    transition: 0.4s ease-in;
    cursor: pointer;
}

.gallery img {
    max-width: 100%;
    background-color: cadetblue;
    padding: 20px;
    margin: 20px;
}

.desc {
    text-align: center;
    font-weight: bold;
}

.responsive {
    float: left;
    padding: 40px;
    left: 100vw;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    /* Inside the Media Query. */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* CSS FOR LOGIN FORM */
/* Button used to open the contact form - fixed at the bottom of the page */

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;

}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.btn{
    color: #fff;
    background: #337ab7;
    padding: 7px;
    width: 100%;
}

/* Add a red background color to the cancel button */


/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}


/* Business Logos */
.business {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#cartButton{
    color:#337ab7;
    background: #ffffff;
    padding: 7px;
    width: 40px;
    height:30px;
}

/* Cart Orders */
#qty {
    width: 50px;
}
#cartButton {
    width: 200px;
}

/*OLivia and Sage Page */
#pp {
   background-image: url("../images/pp.jpg");
}

/* * {*/
/*  border: red 1px solid;*/
/*}*/
